#WIDGET_ID-WIDGET_INSTANCE_ID {

.productRecommendation{  
    background: rgb(246, 246, 246);  
    margin-top: -1px;
}   
.cart-btn:disabled{
        cursor: not-allowed;
        background-color: @medAesPrimaryColor;   
        color: #fff; 
    }
#cc-recs {
    padding:0px;      
    .leftIcon{
    @media screen and (max-width:1023px){      
        padding-right: 0;
        padding-left: 25px !important;  
    }
    @media screen and (max-width:767px){
         padding-left: 0px !important; 
    }
    }
  #cc-recs-title {
    margin-bottom: 0px;
  }
  .left-Arrow{
    height: 50px;
	width: 21px;
	transform: scaleX(-1); 
	@media screen and (max-width:1023px){
	  width: 15px;  
	}
	@media screen and (max-width:767px){  
           height: 40px;
    }
  }
.right-Arrow{
    height: 50px;
	width: 21px;
	transform: scaleX(-1); 
	@media screen and (max-width:1023px){
	  width: 15px;  
	}
  }
    .car-icon{     
        background-color:transparent !important;
        border: none;
    }
    .recommendHeading{
        color: #333333;
        font-family: Flama;
        font-size: 24px;
        font-weight: bold;   
        letter-spacing: 0.3px;  
        line-height: 28px;
        margin-bottom: 28px;  
    }
     .pad-left{
       padding-left:0px;  
        padding-right:0px; 
        padding-bottom:5px;
     }
    .bgcolor{
          background-color: #f2f2f2; 
     }   
    .nopad{
        padding:0px;   
    }
    .purchaseList{
        border: 1px solid rgba(50,50,50,0.25);
        border-radius: 2px;  
        background-color: #fff;
        // box-shadow: 0 -1px 0 0 rgba(222,222,222,0.5);
        padding: 4px 13px;
        font-size: 21px;
        color: #666;
        text-align: center;
        cursor: pointer;
       @media screen and (min-width:1331px) and (max-width:1440px) {               
        padding: 4px 7px;
        width: 42px;
        margin-left: 8px;
    } 
    @media screen and (min-width:1024px) and (max-width:1330px) {               
        padding: 4px 7px;
            width: 42px;
            margin-left: 5px;
    } 
    @media screen and (min-width:768px) and (max-width:1023px) {                   
        padding: 4px 7px;
            width: 42px;
    } 
    @media screen and (min-width:425px) and (max-width:767px) {                
          width: 100%; 
        padding:2px 0px;
    } 
    @media screen and (min-width:375px) and (max-width:424px) {               
          width: 100%; 
    } 
    @media screen and (min-width:320px) and (max-width:374px) {                
            width: 100%;     
    } 
    }
    .medAesBtnPrimary {
        @media screen and (min-width:768px){     
            width: 93%;
        }
    }    
    .prodcutWrapper{
        background-color: #fff;
        margin: 0 0;
        padding: 15px;
        height:500px;  
    @media screen and (max-width:767px) {  
        height: 470px;  
    }  
    }
    .recommendation_wrapper{
        position: relative;
    }
    .left-icons{
                float: left;
                left: -55px;
                top: 93px;  
                @media (min-width:1240px) and (max-width:1365px){
                    left: -40px;  
                }
                @media screen and (max-width:990px){  
        display: none;
    }
    @media screen and (min-width:991px) and (max-width:1024px) {               
        left: -23px;
        padding: 0px;
    }
    }
    .right-icons{
           float: right;
            right: -55px;  
            top: 93px;
            @media (min-width:1240px) and (max-width:1365px){
                    right: -35px;  
                }  
         @media screen and (max-width:990px){  
        display: none;
        } 
         @media screen and (min-width:991px) and (max-width:1024px) {               
           right: -24px;
            padding: 0px;
        }  
    }
  .right-icon{
    //display: inline-block;
    //float:right;
    position: relative;
   // bottom: 241px;
    @media screen and (max-width:767px){
       bottom: 270px;
    }
  }  
  
  .left-icon{  
    position: relative;  
  //  top: 188px;
  //  left: -47px;
    @media screen and (max-width:767px){
       padding-left: 31px !important;
       top: 200px;
    }
  }
  .carousel-inner {
    .item {
      .collection-container {
        padding-right: 5px;
        padding-left: 5px
      }  
      .collection-container:first-child {
        padding-left: 0px;
        padding-right: 5px;
      }
      .collection-container:last-child {
        padding-left: 5px;
        padding-right: 0px;
      }
    }
    .cc-product-item {
      .cc-item-detail a img{
        height: 225px;     
      }
    }    
    .cc-product-item {
      overflow: hidden;
      vertical-align: top;
      height:430px;
    @media screen and (max-width:767px){   
      height: 470px;  
    }  
    }  
    .cc-item-detail {
      height: 50%;    
      text-align: center; 
    }
    .cc-item-text {
        	color: #4A4C50;
        	font-family: FlamaBook;	
        	font-size: 13px;
        	letter-spacing: 0.27px;	
        	line-height: 15px;
        	text-align: left;
    }

    .cc-item-title {
      height: 60px;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      color: #195d8d;
      font-weight: Bold;
      text-align: center;
      p{
          a{
              color: #333333;	font-family: FlamaBook;	font-size: 16px;	letter-spacing: 0.33px;	line-height: 18px;
          }
      }
    }
    .cc-item-price {
        height: 9%;
        color: #195d8d;
        margin-bottom: 0;
        font-weight: Bold;
        text-align: left;
        font-size: 17.5px;
    }  
     .cc-item-title {
          height:50px;
     }
  }
  .carousel-inner .row {
    vertical-align: middle;
    height: 340px;
    display: none;
  }
  .carousel-inner .active {   
    display: block;
  }
  .collection-carousel-control {
    position: absolute;
    font-size: 66px;
    //top: -58px;  
    color: #000; 
    box-shadow: none;     
    @media screen and (min-width:768px) and (max-width:1023px){
       padding-right: 0px;
       padding-left: 7px; 
    }   
    @media screen and (min-width:320px) and  (max-width:767px){
     padding-right: 0;
     padding-left: 0px;   
    }
  }
  .collection-carousel-control:active{
     background : transparent !important; 
  }
  .controls {
    margin-top: 20px;
  }
  .carousel-indicators {
    position: relative;
    display: block;
    text-align: center;
    right: 0px;
    vertical-align: top;
    
    li {
      display: inline-block;
      float: none;
      text-align: center;
      background-color: #999999;
    }
    .active {
      background-color: #222222;
    }
  }
  #cc-carousel-indicators {
    margin-bottom: 20px;
  }
  hr {
    margin-top: 0px;
  }
  #cc-carousel-controls {
    bottom: 10px;
    float: right;
  }
  #cc-carousel-left-control {
    padding-right: 0px;
  }
  #cc-carousel-right-control {
    padding-left: 5px;
  }
  .cc-text-overflow {
    color: #333;
    font-family: "FlamaBook";
    font-size: 16px;
    letter-spacing: .33px;
    line-height: 18px;
    text-transform: capitalize;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 10px;
    word-break: break-word !important;
    text-overflow: unset !important;
    white-space: unset !important;
  }
  .cc-item-text{
      color: #4a4c50;
    font-family: 'FlamaBook';
    font-size: 13px;
    letter-spacing: .27px;
    line-height: 15px;
  }
  .cc-sale-price{
         color: #292929;
        font-family: "flama";
        text-align: left;
        font-size: 16px;
        letter-spacing: .57px;
        line-height: 18px;
        position: absolute;
        word-break: break-all;
        height: 10%;
        width: 80%;
        line-height: 29px;
  }  
  .cc-item-price .label-danger{  
    background-color: #e50000;
    margin-left:10px;
    padding: 2px 4px 2px 4px;
    font-size: 70%;  
    display:none;
  }
}
    .bgcolor{
          background-color: #f2f2f2; 
     } 
    .spacing-recs{
        @media (min-width:320px){  
         padding:20px;  
        }
     }   

    }
  