#WIDGET_ID-WIDGET_INSTANCE_ID {
    @media screen and (max-width:990px){
     .marg0{
        margin:0px;
     }  
    }
    .bucket-wrapper {
        text-align: center;
        .bucket-Container {
            display: inline-block;
            float: none;
            width: 33.1%;
            @media screen and (max-width:991px){
                 width: 33%;
             }
            @media screen and (max-width:767px){
                 width: 100%;
             }
        }
    }
    .shopNowSection{       
            padding: 55px 0;
            background-color: rgb(246, 246, 246);
    }
    .category-row{
        background-color: #fff;
        padding: 15px;
        text-align: center;
    @media screen and (max-width:767px){       
        margin-bottom: 15px;
    }    
    }
    .shop-now-container{    
        margin: 48px 0px;  
    }
    .imgplaceHolder{
        width:100%;
        margin-bottom:12px;
        cursor: pointer;
        margin: 0 auto;
    }
    .category-text{
            color: #333333;
            font-family: 'FlamaBook';
            font-size: 16px;
            letter-spacing: 0.33px;
            line-height: 18px;
            cursor: pointer;
    }
   
    }